name: lint

on: [push]

jobs:
    luacheck:
        name: luacheck
        runs-on: ubuntu-latest
        steps:
            - name: checkout
              uses: actions/checkout@v2

            - name: Setup Lua
              uses: leafo/gh-actions-lua@v8.0.0

            - name: Setup Lua Rocks
              uses: leafo/gh-actions-luarocks@v4.0.0

            - name: Install luacheck
              run: luarocks install luacheck

            - name: validate code
              run: luacheck --config .luacheckrc .
